.tarjeta {
  background-color: #1b2838;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.tarjeta img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.tarjeta-info {
  padding: 10px;
  text-align: center;
  background-color: #0f1722;
}