.estadisticas-container {
  padding: 90px;
  color: #fff;
  text-align: center;
}

.estadisticas-resumen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  background-color: #1c1f26;
  padding: 1rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  min-width: 200px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background-color: #252932;
}

.card h3 {
  color: #00bcd4;
  margin-bottom: 0.5rem;
}

.grafico-generos {
  background-color: #1c1f26;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
