.footer {
    background-color: #12161d;
    color: #eaeaea;
    text-align: center;
    padding: 25px 15px;
    font-family: "Poppins", sans-serif;
    border-top: 1px solid #1f242b;
    margin-top: auto;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.footer-links a {
    color: #cfd8dc;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #00aaff;
}

.footer-copy {
    font-size: 0.9rem;
    color: #7f8c8d;
}